name: Build & Test (Group5)
on: push

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: Unit Tests
        run: mvn -Dtest=com.napier.group5.AppTest test

      - name: Package and Run docker compose
        run: |
          mvn -B -DskipTests package
          docker compose up --abort-on-container-exit
