name: SEM CI Build
on: push

jobs:
  UnitTests:
    name: Unit Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin   # 'adopt' is deprecated
          java-version: '17'
          cache: maven
      - name: Run Unit Tests
        run: mvn -B -Dtest=com.napier.devops.AppTest test

  build:
    name: Build and Run with Docker Compose
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven
      - name: Package and Run docker compose
        run: |
          mvn -B package -DskipTests
          docker compose up --abort-on-container-exit
